<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基本语法</title>
</head>
<body>

<div id="app">
    <ul class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
    </ul>

    <div v-for="(value, key) in object">
        {{ key }} : {{ value }}
    </div>
</div>

<script src="../vuejs/vue.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            object: {
                FirstName: 'John',
                LastName: 'Doe',
                Age: 30
            }
        }
    })
</script>
</body>
</html>